alpha_vantage==2.3.1
joblib==1.3.1
matplotlib==3.7.2
numpy==1.23.5
pandas==1.5.3
pandas_profiling==3.6.6
Pillow==10.2.0
plotly==5.15.0
pycaret==3.0.4
pygwalker==0.3.20
pywin32==306
requests==2.31.0
scikit_learn==1.2.2
seaborn==0.9.0
stocknews==0.9.11
streamlit==1.29.0
streamlit_lottie==0.0.5
streamlit_option_menu==0.3.6
streamlit_pandas_profiling==0.1.3
ydata_profiling==4.3.1
yfinance==0.2.28
